.main {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  color: black;
  background-color: white;
  text-align: justify;
}

.main blockquote {
  background: #D3D3D3;
  border: solid 0.1em #A9A9A9;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.main blockquote h1:first-child,
.main blockquote h2:first-child,
.main blockquote h3:first-child {
  margin-bottom: 0em;
  margin-top: 0.5em;
}

.main .todo {
  background: red;
}
