.Rproj.user
.Rhistory
.RData

*.Rproj

*.gz

*.log

*.tex

*.pdf

*.v1_indexcache

.classpath

.metadata/*

*.txt

*.class

*.png

.project

.cache

*.prefs

.buildpath
/bin

target/*

project/target/*