.Rproj.user
.Rhistory
.RData

*.Rproj

*.gz

*.log

*.tex

*.pdf

*.v1_indexcache

.classpath

.metadata/*

*.txt

*.class

.project

.cache

*.prefs

.buildpath
/bin

target/*

project/target/*

_site/*

token.txt

/simdata/*
*.cpp

test*.csv

thing.csv

run*.csv

input

project/project/target/config-classes/$a6bdf1ccfb0236f873b2.cache
